@import url('../../../values/colors.css');

.user-type-switch-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-type-switch-label {
    display: flex;
    column-gap: .6em;
    align-items: center;
}

.user-type-switch-label span {
    color: var(--font_color) !important;
}

.span-student-mode {
    color: var(--font_color) !important;
}