.home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-lesson-container {
    position: relative;
    align-items: center;
    width: 60vw;
}

.file-picker-container {
    position: relative;
    top: 5vh;
}
