@import url('../../../values/colors.css');

:root{
    --backgroud-color: #524B4B;
    --text-color: #bdbdbd;
    --border-color: #333333;
}

.home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-lesson-container {
    position: relative;
    align-items: center;
    width: 70vw;
}

.file-picker-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50vw;
    top: 0vh;
}

.default-lesson-button > p {
    margin: auto;
}

.default-lesson-button:hover {
    border-color: var(--font_color);
}

.default-lesson-button:active {
    border-color: white;
}

.default-lesson-button {
    width: auto;
    height: 5em;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-width: 4;
    border-radius: 2;
    border-color: var(--border-color);
    border-style: solid;
    background-color: var(--dark_gray);
    color: var(--text-color); 
    outline: none;
    transition: border .24s ease-in-out;
    cursor: pointer;
    margin-left: 2vw;
    margin-right: 2vw;
}

.file-picker-box {
    width: auto;
    height: 5em;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-width: 4;
    border-radius: 2;
    border-color: var(--border-color);
    border-style: solid;
    background-color: var(--dark_gray);
    color: var(--text-color); 
    outline: none;
    transition: border .24s ease-in-out;
    cursor: pointer;
    margin-left: 2vw;
    margin-right: 2vw;
}

.file-picker-box > p {
    margin: auto;
}

.file-picker-box:hover {
    border-color: var(--font_color);
}

.file-picker-box:active {
    border-color: white;
}
