:root{
  --background-cell-color: #524B4B;
  --markdown-color: white;
  --buttons-color: grey;
  --buttons-color-active: white;
  --background-buttons-color: transparent;
  --top-border-color: #c6cbd1;
  --code-color: #c9d1d9;
  --border-color-td: #dfe2e5;
}

.markdown {
    color: var(--markdown-color); 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

code {
    color: var(--code-color); 
}

tr {
    border-top: 1px solid var(--top-border-color); 
  }
  
th,
td {
    padding: 6px 13px;
    border: 1px solid var(--border-color-td); 
    background-color: var(--background-cell-color) !important;
}

.markdown-body {
    background-color: var(--background-cell-color) !important;
}

/* .text-cell-container {
    display: flex;
    flex-direction: column;
    padding: 1em 10px 1em 10px;
    transition: .2s background-color box-shadow;
    border-radius: 20px;
}

.text-cell-container:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

/* .cell-misc-buttons-container {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    padding: 0 1em 1em 1em;
} */

/* .cell-misc-buttons-container > * {
    color: var(--buttons-color); 
    opacity: 0.4;
    background-color: var(--background-buttons-color); 
    border: 0;
}

.cell-misc-buttons-container > *:hover {
    opacity: 1;
    cursor: pointer;
}

.cell-misc-buttons-container > *:active {
    color: var(--buttons-color-active); 
} */

/* .text-cell-grab {
    cursor: grab !important;
} */

@media (max-width: 767px) {
    .markdown-body {
        padding: 15px;
    }
}

@media (prefers-color-scheme: dark) {
    .wmde-markdown,
    .wmde-markdown-var {
        --color-canvas-default: var(--background-cell-color) !important;
    }
}
