@import url('../../../values/colors.css');

.markdown-output {
    color: var(--code_color);
    font-size: inherit;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--dark_gray) !important;
    margin: .5em 0em .5em 0em;
    padding: 1.5em 2em 1.5em 2rem;
    white-space: pre-wrap;
}


.output-misc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 0.4rem;
    margin-top: 0.2rem;
}

.clear-output-editor-button {
    margin-left: auto;
    margin-right: 0.2rem;
}

.clear-output-editor-button > .grIcon path {
    stroke: grey;
}

.clear-output-editor-button:hover > .grIcon path {
    stroke: white;
}

.output-title {
    color: var(--font_color);
    text-align: center;
    margin-left: auto;
}

.output-font {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 0.2em;
}