@import url('../../../values/colors.css');

.background {
    color: var(--font_color);
    width: 97%;
    background-color: var(--dark_gray);
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border-radius: 10px;
}
.background-red {
    color: var(--font_color);
    width: 97%;
    background-color: var(--dark_gray);
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border-radius: 10px;
    border: 3px solid red;
}

.background-green {
    color: var(--font_color);
    width: 97%;
    background-color: var(--dark_gray);
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border-radius: 10px;
    border: 3px solid green;
}

/* .background {
    width: 97%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border-radius: 10px;
    border
} */

.text-field {
    margin: 10px;
}

.management {
    display: flex;
    flex-direction: row;
    width: 250px;
}

.checkbox {
    padding-right: 30px;
    border-color: var(--font_color);
}

.option-text {
    margin-left: 5px;
    margin-top: 10px;
}

.button-x {
    
}
