@import url('../../../values/colors.css');

:root{
    --background-cell-color: #111111;
    --buttons-color-hovered: rgba(39, 36, 51, 50%);
    --buttons-color-active: white;
    --background-buttons-color: transparent;
    --editor-color: rgb(30, 30, 30);
}

.background {
    color: var(--font_color);
    width: 97%;
    background-color: var(--dark_gray);
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border-radius: 10px;
}

.background-red {
    color: var(--font_color);
    width: 97%;
    background-color: var(--dark_gray);
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border-radius: 10px;
    border: 3px solid red;
}

.background-green {
    color: var(--font_color);
    width: 97%;
    background-color: var(--dark_gray);
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border-radius: 10px;
    border: 3px solid green;
}

.text-field {
    margin: 10px;
}

.management {
    display: flex;
    flex-direction: row;
    width: 200px;
    background-color: var(--editor-color);
    border-radius: 10px;
}

.checkbox {
    padding-right: 30px;
    border-color: var(--font_color);
}

.option-text {
    margin-left: 5px;
    margin-top: 6px;
    padding-top: 0.1rem;
    background-color: var(--editor-color);
}

#topDiv {
    background-color: var(--editor-color);
}

.button-x {
    background-color: rgb(30, 30, 30);
    color: white;
    border: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding-right: 0.5rem;
    margin-top: 10px;
}