@import url('../../../values/colors.css');

:root{
  --background-color: #c9d1d9;
  --background-color-hover: #e9ecef;
  --text-button-color: #ffffff;
  --add-button-color: #555555;
  --add-button-color-hover: #6b6b6b;
}


.dropdown-toggle::after {
    display: none !important; 
  }

.dropdown-toggle {
    background-color: var(--dark_gray) !important;
    border-color: var(--dark_gray) !important; 
    border-bottom-color: var(--black) !important; 
    color: var(--font_color) !important;
    min-width: 12rem !important;
    height: 2.2rem !important;
    padding-top: 0.1em !important;
    font-size: 1.1em !important;
    /* border-radius: 0 !important; */
}

.dropdown-toggle:hover {
    background-color: var(--black) !important;
}

.dropdown-menu {
    width: inherit !important;
    border-color: var(--dark_gray) !important;
    border-radius: 0 !important;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    border-top-width: 10em;
    border-top-color: var(--black);
    top: -4px !important;
    background-color: var(--dark_gray) !important;
    position: absoulte;
    min-width: 12rem !important;
}

.dropdown-button {
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
}

.dropdown-item {
    font-style: normal !important;
    color: var(--font_color) !important;
    font-size: 0.9em;
}

.dropdown-item:hover {
    background-color: var(--black) !important;
}

.dropdown-button-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.dropdown-button-wrapper *{
    visibility: hidden;
    opacity: 0;
    transition: 0s visibility !important;
}

.dropdown-button-wrapper:hover * {
    visibility: visible;
    opacity: 1;
    transition-delay:.15s !important;
}

.dropdown-button-line {
    grid-area: 1 / 1 / 2 / 2 !important;
    align-self: center;
    justify-self: center;
    width: 18rem;
    height: 3px;
    background-color: var(--dark_gray); 
}

.section-button {
    z-index: 200;
    align-self: center;
    justify-self: center;
    background-color: var(--add-button-color) !important; 
    border-color: var(--add-button-color) !important; 
    color: var(--font_color) !important;
    min-width: 12rem !important;
    height: 2.2rem !important;
    padding-top: 0.1em !important;
    font-size: 1.1em !important;
    /* border-radius: 0 !important; */
}

.section-button:hover {
    background-color: var(--add-button-color-hover) !important;
}
