:root{
  --background-color: #c9d1d9;
  --background-color-hover: #e9ecef;
  --text-button-color: #555555;
}


.dropdown-toggle::after {
    display: none !important; 
  }

.dropdown-toggle {
    background-color: var(--background-color) !important; 
    border-color: var(--background-color) !important; 
    color: var(--text-button-color) !important;
    min-width: 12rem !important;
    height: 1.8rem !important;
}

.dropdown-toggle:hover {
    background-color: var(--background-color-hover) !important;
}

.dropdown-menu {
    width: inherit !important;
    border-color: var(--background-color) !important;
    border-radius: 0 !important;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    top: -4px !important;
    background-color: var(--background-color) !important;
    position: absoulte;
    min-width: 12rem !important;
}

.dropdown-button {
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
}

.dropdown-button-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.dropdown-button-wrapper *{
    visibility: hidden;
    opacity: 0;
}

.dropdown-button-wrapper:hover * {
    visibility: visible;
    opacity: 1;
}

.dropdown-button-line {
    grid-area: 1 / 1 / 2 / 2 !important;
    align-self: center;
    justify-self: center;
    width: 18rem;
    height: 3px;
    background-color: var(--background-color); 
}

.section-button {
    z-index: 200;
    align-self: center;
    justify-self: center;
    background-color: var(--background-color) !important; 
    border-color: var(--background-color) !important; 
    color: var(--text-button-color) !important;
    min-width: 12rem !important;
    height: 1.8rem;
}

.section-button:hover {
    background-color: var(--background-color-hover) !important;
}
