@import url('../../../values/colors.css');

:root{
  /* --background-cell-color: #524B4B; */
  --background-cell-color: #111111;
  --buttons-color-hovered: rgba(39, 36, 51, 50%);
  --buttons-color-active: white;
  --background-buttons-color: transparent;
  --editor-color: rgb(39, 36, 51);
}

.editor-button-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;
    background-color: var(--semi_black);
    padding: 0.3em;
    padding-right: 0px;
    padding-left: 1rem;
    height: 2.3rem;
}


.grIcon path{
    stroke: white;
}

.editor-button {
    padding: 0.1rem 0.2rem 0.1rem 0.2rem !important;
    border-radius: 0.1rem;
    border-width: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--semi_black);
}

.editor-button:hover {
    background-color: var(--dark_gray);
}

.editor-caption {
    color: var(--font_color);
    margin-bottom: 0.2rem;
}

.editor {
    padding-left: 1rem;
    padding-right: 1rem;
}

.code-cell-container {
    padding-left: 1rem;
    padding-right: 1rem;
}