:root {
  --background-menu-bar: #000000;
  --accent-color: #f5f5f5;
  --background-nav-hover-color: #25282b;
  --text-color: white;
  --buttons-color1: white; 
  --buttons-hover-color1: grey; 
  --top-menu-bar-height: 80px;
  --top-menu-bar-height-2: 20px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2em;
}

.top-menu-bar {
  background-color: var(--background-menu-bar);
  margin-left: -2em;
  margin-right: -2rem;
  padding: .4em 0 .4em 0;
  height: var(--top-menu-bar-height);
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  display: flex;
}

.general-buttons {
   margin: auto;
   width: 100%;
   display: flex;
   justify-content: space-between;
}

.general-button-item {
  margin-left: 1rem; 
  background-color: inherit !important;
  color: var(--text-color) !important;
}

.hamburger {
  position: relative;
  font-size: 2rem;
  margin: 1rem;
  color: var(--accent-color); 
}

.nav-menu {
  border-style: solid;
  top: var(--top-menu-bar-height);
  background-color: var(--background-menu-bar);
  width: 10rem;
  height: 100vh;
  position: fixed;
  left: -100%;
  transition: 500ms;
  z-index: 50;
}

.page {
  transition: 500ms;
}

.nav-menu.active {
  left: 0;
  transition: 500ms;
}

.page.active {
  transition: 500ms;
  padding-left: 20rem;
}

.nav-menu-inner {
  border-style: solid;
  border-left: 0;
  top: var(--top-menu-bar-height);
  background-color: var(--background-menu-bar); 
  width: 7.5rem;
  height: 100vh;
  position: fixed;
  left: -100%;
  transition: 500ms;
  z-index: 25;
}

.nav-menu-inner.active {
  left: 10rem;
  transition: 1000ms;
}

.nav-text {
  background-color: #000000;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 0px 0px 10px;
  list-style: none;
  height: 40px;
  margin-top: 10px;
}

.nav-text-inner {
  background-color: #000000;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 0px 0px 5px;
  list-style: none;
  height: 30px;
  margin-top: 15px;
}

.nav-text a {
  text-decoration: none;
  color: var(--accent-color);
  font-size: 24px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  margin-top: 10px;
}

.nav-text-inner a {
  text-decoration: none;
  color: var(--accent-color);
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 5px;
  margin-top: 15px;
}

.nav-text a:hover {
  background-color: var(--background-nav-hover-color); 
  color: var(--text-color);
  margin-top: 10px;
}

.nav-text-inner a:hover {
  background-color: var(--background-nav-hover-color); 
  color: var(--text-color);
  margin-top: 15px;
}

.nav-menu-items {
  display: inline;
  padding-left: 0;
  width: 100%;
  position: absolute;
}

.navbar-toggle {
  position: relative;
  background-color: var(--background-menu-bar); 
  justify-content: flex-start;
  align-items: center;
  font-size: 2em;
  color: var(--text-color);
}

.navbar-toggle-2 {
  padding-top: var(--top-menu-bar-height-2);
  position: relative;
  background-color: var(--background-menu-bar); 
  justify-content: flex-start;
  align-items: center;
  font-size: 1.5em;
  color: var(--text-color);
}

.name-header {
  margin: 0;
  padding: auto;
  font-size: 1.5rem;
  color: white;
  text-align: center;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

li {
  border: none;
}

span {
  text-decoration: none
}

.cargo-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.cargo-info > p {
  margin-top: auto;
  margin-bottom: auto;
  color: rgba(255, 255, 255, 0.4);
}
