:root{
    --background-cell-color: #524B4B;
    --markdown-color: white;
    --buttons-color: grey;
    --buttons-color-active: white;
    --background-buttons-color: transparent;
    --top-border-color: #c6cbd1;
    --code-color: #c9d1d9;
    --border-color-td: #dfe2e5;
  }

.cell-misc-buttons-container {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    padding: 0 1em 1em 1em;
}

.cell-misc-buttons-container > * {
    color: var(--buttons-color); 
    opacity: 0.4;
    background-color: var(--background-buttons-color); 
    border: 0;
}

.cell-misc-buttons-container > *:hover {
    opacity: 1;
    cursor: pointer;
}

.cell-misc-buttons-container > *:active {
    color: var(--buttons-color-active); 
}

.cell-container {
    display: flex;
    flex-direction: column;
    padding: 1em 10px 1em 10px;
    transition: .2s background-color box-shadow;
    border-radius: 20px;
}

.cell-container:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cell-grab {
    cursor: grab !important;
}