.markdown {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

code {
    color: #c9d1d9;
}

tr {
    border-top: 1px solid #c6cbd1;
  }
  
th,
td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
    background-color: #524B4B !important;
}

.markdown-body {
    background-color: #524B4B !important;
}

.text-cell-container {
    display: flex;
    flex-direction: column;
    padding: 1em 0 1em 0;
    transition: .2s background-color box-shadow;
}

.text-cell-container:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text-cell-delete-button {
    margin-left: auto;
    padding: 0 1em 1em 1em;
    color: grey;
    opacity: 0.4;
    background-color: transparent;
    border: 0;
}

.text-cell-delete-button:hover {
    opacity: 1;
    cursor: pointer;
}

.text-cell-delete-button:active {
    color: white;
}

@media (max-width: 767px) {
    .markdown-body {
        padding: 15px;
    }
}

@media (prefers-color-scheme: dark) {
    .wmde-markdown,
    .wmde-markdown-var {
        --color-canvas-default: #524b4b !important;
    }
}
