.markdown {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

code {
    color: #c9d1d9;
}

tr {
    border-top: 1px solid #c6cbd1;
  }
  
th,
td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
    background-color: #524B4B !important;
}

.markdown-body {
    background-color: #524B4B !important;
}

@media (max-width: 767px) {
    .markdown-body {
        padding: 15px;
    }
}